<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>微微移车管理系统</title>
	<link href="/moveBus/css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/layout-default.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/tlayout.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/cum.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/config.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/moveBus/js/public.js"></script>
	<script type="text/javascript" src="/moveBus/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/moveBus/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/moveBus/js/resizeComponents.js"></script>
	<script type="text/javascript" src="/moveBus/layout/jquery.layout.js"></script>
	<script type="text/javascript" src="/moveBus/js/tabs.js"></script>
	<script type="text/javascript" src="/moveBus/js/grid.locale-cn.js"></script>
	<script type="text/javascript" src="/moveBus/js/jquery.jqGrid.min.js"></script>
	<script type="text/javascript" src="/moveBus/main/main.js"></script>
</head>
<body data-curpagename="page3" class="body_style1">
<div id="page3_jContainer1" class="tlayout_style2"><div id="page3_jContainer1_container" class="container">
	<div id="page3_jRegion1" class="page3_jContainer1_north">
		<div id="page3_jPanel1" class="Panel Panel_Null">
			<div id="page3_jPanel9" class="Panel Panel_Null colorp_grain3">
				<div id="page3_jLabel4" class="text">现在时间：2014-3-18 10:24</div>
				<div id="page3_jLabel13" class="text">星期二</div></div>
			<div id="page3_jLabel1" class="text">微简信息管理系统</div>
			<div id="page3_jPanel7" class="Panel Panel_Null colorp_grain3">
				<div id="page3_jLabel2" class="text">当前登录用户：admin</div></div>
			<div id="page3_jPanel2" class="Panel Panel_Null colorp_grain3">
				<div id="page3_jButton1" class="vjbutton vjbutton_c_style2 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jkey.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jkey.png" width="16" height="16"/></span><span class="btntxt"></span>修改密码</div></div>
				<div id="page3_jButton2" class="vjbutton vjbutton_c_style2 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/juser.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/juser.png" width="16" height="16"/></span><span class="btntxt"></span>注销</div></div>
				<div id="page3_jButton3" class="vjbutton vjbutton_c_style2 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jdoor_out.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jdoor_out.png" width="16" height="16"/></span><span class="btntxt"></span>退出</div></div></div></div></div>
	<div id="page3_jRegion3" class="page3_jContainer1_center">
		<div id="page3_jTabControl1"><div id="page3_jTabControl1_body">
			<ul>
				<li><a href=#page3_jTabControl1_tab1>首页</a></li>
				<li><a href=#page3_jTabControl1_tab2>注册用户信息</a></li>
			</ul>
				<div id=page3_jTabControl1_tab1><div id="page3_jPanel8" class="Panel Panel_Null">
			<div id="page3_jLabel7" class="text">今日注册用户数：</div>
			<div id="page3_jLabel9" class="text">0</div>
			<div id="page3_jLabel8" class="text">今日扫码次数：</div>
			<div id="page3_jLabel11" class="text">0</div>
			<div id="page3_jLabel10" class="text">总计注册人数：</div>
			<div id="page3_jLabel12" class="text">0</div></div>
		</div>
				<div id=page3_jTabControl1_tab2><div id="page3_jContainer2" class="tlayout_style2 tlayout_noborder">
				<div id="page3_jContainer2_container" class="container">
			<div id="page3_jRegion4" class="page3_jContainer2_north">
				<div id="page3_jToolbar1" class="TJToolbar">
					<div id="page3_jLabel3" class="text">关键字：</div>
					<input type="text" class="Edit Edit_style1" value="" id="page3_jEdit1"/>
					<div id="page3_jButton4" class="vjbutton vjbutton_c_style2 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jzoom.png" width="16" height="16"/></span><span class="btntxt"></span>查询</div></div></div></div>
			<div id="page3_jRegion5" class="page3_jContainer2_center">
				<div class="TDataGrid" id="page3_jDataGrid1">
				<table id="page3_jDataGrid1_table"></table>
				<div id="page3_jDataGrid1_pager"></div>
				</div></div></div></div>
		</div></div></div>
		<div class="MenuV MenuV_style1" id="page3_jMenuV1">
			<ul>
				<li><a href="#"><span>首页</span></a></li>
				<li><a href="#"><span>信息管理</span></a></li>
				<li class="last has-sub"><a href="#"><span>系统管理</span></a>
					<ul>
						<li><a href="#"><span>用户管理</span></a></li>
					</ul>
				</li>
			</ul>
		</div></div>
	<div id="page3_jRegion2" class="page3_jContainer1_south">
		<div id="page3_jPanel5" class="Panel Panel_Null border_grain01">
			<div id="page3_jPanel6" class="Panel Panel_Null">
				<div id="page3_jLabel6" class="text">版权所有：重庆恒承瑶造价咨询有限公司</div></div></div>
		<div id="page3_jPanel4" class="Panel Panel_m colorp_grain4 border_radius_5 border_grain03">
			<div id="page3_jPanel3" class="Panel Panel_Null">
				<div id="page3_jLabel5" class="text">版权所有：重庆恒承瑶咨询造价有限公司</div></div></div></div></div></div>

</body>
<script type="text/javascript" src="/moveBus/js/TmenuV.js"></script>
</html>
