<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>微微移车管理系统</title>
	<link href="/moveBus/css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/layout-default.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/tlayout.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/cum.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="/moveBus/css/config.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/moveBus/js/public.js"></script>
	<script type="text/javascript" src="/moveBus/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/moveBus/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/moveBus/js/resizeComponents.js"></script>
	<script type="text/javascript" src="/moveBus/layout/jquery.layout.js"></script>
	<script type="text/javascript" src="/moveBus/js/grid.locale-cn.js"></script>
	<script type="text/javascript" src="/moveBus/js/jquery.jqGrid.min.js"></script>
	<script type="text/javascript" src="/moveBus/user/list.js"></script>
</head>
<body data-curpagename="page2" class="body_style1">
<div id="page2_jContainer1" class="tlayout_style2"><div id="page2_jContainer1_container" class="container">
	<div id="page2_jRegion1" class="page2_jContainer1_north">
		<div id="page2_jPanel1" class="Panel Panel_Null">
			<div id="page2_jLabel1" class="text">微微移车管理系统</div>
			<div id="page2_jPanel2" class="Panel Panel_Null">
				<div class="linkbox link_01" id="page2_jLink1"><a href="#" target="_self">首页</a></div>
				<div class="linkbox link_01" id="page2_jLink2"><a href="#" target="_self">修改密码</a></div>
				<div class="linkbox link_01" id="page2_jLink3"><a href="#" target="_self">重新登录</a></div>
				<div class="linkbox link_01" id="page2_jLink4"><a href="#" target="_self">退出</a></div>
				<div id="page2_jLabel2" class="text">|</div>
				<div id="page2_jLabel3" class="text">|</div>
				<div id="page2_jLabel4" class="text">|</div></div></div>
		<div id="page2_jPanel3" class="Panel Panel_Null colorp_grain3">
			<div id="page2_jLabel5" class="text">当前登录用户：admin</div>
			<div id="page2_jLabel6" class="text">现在时间：2014-3-18 10:24:12</div>
			<div id="page2_jLabel7" class="text">星期二</div></div></div>
	<div id="page2_jRegion2" class="page2_jContainer1_center">
		<div id="page2_jExtPanel2" class="Panelbar Panelbar_grain Panelbar_TT14"><div class="PanelBarCaptionbox colorp_grain2" ><div class="PanelBarCaption border_grain01"><span>客户注册信息</span></div></div><div class="PanelContent colorp_grain5 ">
			<div id="page2_jContainer2" class="tlayout_style2 tlayout_noborder"><div id="page2_jContainer2_container" class="container">
				<div id="page2_jRegion4" class="page2_jContainer2_north">
					<div id="page2_jToolbar1" class="TJToolbar">
						<div id="page2_jButton4" class="vjbutton vjbutton_c_style2 border_radius_3"><div class="vjbutton_txtR"><span class="btniconcum1"><img src="images/jarrow_rotate_clockwise.png" width="16" height="16"/></span><span class="btniconcum2"><img src="images/jarrow_rotate_clockwise.png" width="16" height="16"/></span><span class="btntxt"></span>刷新</div></div></div></div>
				<div id="page2_jRegion5" class="page2_jContainer2_center">
					<div class="TDataGrid" id="page2_jDataGrid1"><table id="page2_jDataGrid1_table"></table>
					<div id="page2_jDataGrid1_pager"></div>
					</div></div></div></div></div></div></div></div></div>
<div class="MenuH MenuH_style4" id="page2_jMenuH1">
	<ul>
		<li><a href="#"><span>首页</span></a></li>
		<li><a href="#"><span>客户信息</span></a></li>
		<li class="last has-sub"><a href="#"><span>系统管理</span><div class="menu_arrow"></div></a>
			<ul>
				<li><a href="#"><span>用户管理</span></a></li>
				<li><a href="#"><span>角色管理</span></a></li>
				<li><a href="#"><span>组管理</span></a></li>
				<li class="last"><a href="#"><span>权限管理</span></a></li>
			</ul>
		</li>
	</ul>
</div>

</body>
</html>